.btn {
  border-radius: 100rem;
  line-height: 1;
  position: relative;
}

.btn:link,
.btn:visited {
  text-decoration: none;
  transition: all 0.4s;
  /* position: relative; */
}

.btn:hover {
  transform: translateY(-0.3rem);
  background-color: var(--color-green);
  color: var(--color-pink-primary);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}

.btn:hover::after {
  transform: scaleX(1.2) scaleY(1.4);
  opacity: 0;
}

.btn:active {
  transform: translateY(-0.1rem);
  box-shadow: none;
}

.btn::after {
  content: "";
  display: inline-block;
  /* display: block; */
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s;
  background-color: var(--color-green-transparent-btn);
}
