.hobbyCard {
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;
  height: 40rem;
  width: 32rem;

  border-radius: 3rem;
}

.hobbyCardSide {
  height: 40rem;
  transition: all 0.8s ease;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  backface-visibility: hidden;
  border-radius: 3rem;
  overflow: hidden;
  box-shadow: 0 1.5rem 4rem hsla(0, 0%, 0%, 0.15);
  display: flex;
  align-items: center;
  justify-content: center;
}

.hobbyCardSideBack {
  transform: rotateY(180deg);
}

.hobbyCard:hover .hobbyCardSideFront {
  transform: rotateY(-180deg);
}

.hobbyCard:hover .hobbyCardSideBack {
  transform: rotateY(0);
}
