.cardContainer {
  background-color: var(--color-orange-transparent);

  border-radius: 2rem;
  outline: 1rem dotted var(--color-orange-transparent);
}

.header,
.text {
  text-shadow: 0.2rem 0.2rem 0.1rem rgba(0, 0, 0, 0.267);
}

.btnIcon {
  max-width: 5rem;
}
