.cardContainer {
  background-color: rgba(208, 154, 87, 0.17);

  border-radius: 2rem;
  outline: 1rem dotted rgba(208, 154, 87, 0.17);
}

.header,
.text {
  text-shadow: 0.2rem 0.2rem 0.1rem rgba(0, 0, 0, 0.267);
}

.btnIcon {
  max-width: 5rem;
}
