.slider {
  position: relative;
  width: 110rem;
  height: 57.5rem;
  margin: 7rem auto 3rem auto;
}

.slide {
  transition: transform 1s;
}

.slide1 {
  position: absolute;
  width: 100%;
  top: 0;
}

.slide2 {
  position: absolute;
  width: 100%;
  top: 0;
  left: 150%;
}

.btn {
  position: absolute;
  top: 50%;
  z-index: 10;
}

.btnRight {
  right: -25rem;
  transform: translateY(-50%);
}

.btnLeft {
  left: -25rem;
  transform: translateY(-50%);
}
