/* TabComponent.module.css */
.tab {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background-color: #ebe0d3;

  padding-left: 2rem;
  padding-right: 2rem;
  padding-bottom: 1rem;

  max-height: 15rem;

  font-size: 1.5rem;
}

.active {
  background: #ede7de;
}
