@import url("https://fonts.googleapis.com/css2?family=Lustria&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-pink-primary: #f0efec;
  --color-pink-secondary: #ebe0d3;
  --color-pink-tertiary: #ede7de;
  --color-pink-quaternary: #ebe1d3;
  --color-green: #6d6b18;
  --color-green-transparent: #6b6a1598;
  --color-green-transparent-btn: #6d6b184d;
  --color-orange-steps: #d09957;
  --color-orange-transparent: #d09a572b;
  --color-green-hobby-card: #a1b89b;
  --color-purple-hobby-card: #c3c4e1;
  --color-cream-hobby-card: #dfb498;
  --color-black: #0a0b0a;
  --color-project-1: #5d69a5;
  --color-project-2: #bcb2c2;
  --color-project-3: #fbd3ad;
  --color-project-4: #a87f96;
  --color-project-5: #639ac8;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Lustria", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.6rem;
  color: var(--color-black);
  background-color: var(--color-pink-primary);

  overflow-x: hidden;
  /* padding-top: 12rem; */
}
